<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SmartSpendee | Main Menu</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="menu-container">
    <h1>Welcome to SmartSpendee</h1>
    <a href="/add-income" class="button">Add Monthly Income</a>
    <a href="/add-expense" class="button">Add or Edit Expense</a>
    <a href="/view-expense" class="button">View Expenses</a>
  </div>
</body>
</html>
