<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>View Expenses</title>
</head>

</style>
<body>
    <h2>Expense Records</h2>
    <table border="1" cellpadding="5">
        <tr>
            <th>Item</th>
            <th>Amount</th>
            <th>Category</th>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense['Item'] }}</td>
            <td>${{ expense['Amount'] }}</td>
            <td>{{ expense['Category'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <hr>

    <h2>Expenses by Category</h2>
    <img src="{{ chart_url }}" alt="Pie Chart of Expenses">

    <br><br>
    <a href="/">⬅ Back to Home</a>
</body>
</html>
